@charset "UTF-8";
html{
    scroll-behavior: smooth;
    font-size: 0.5208vw;
}

body{
    margin: 0;
}

h1{
    font-size: 6rem;
    font-weight: 300;
    margin: 0;
}

h2{
    font-size: 5rem;
    font-weight: 300;
    margin: 0;
}

h3{
    font-size: 4rem;
    font-weight: 300;
    margin: 0;
}

a{
    text-decoration: none;
    color: #59944C;
    font-size: 2rem;
}

p{
    font-size: 2rem;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

/* ヘッダー */

header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

header .header_logo img{
    height: 8rem;
}

header a{
    color: black;
}

.header_right{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 40%;
}

.header_nav{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 80%;
}

.header_nav > .trigger {
    position: relative;
}

.header_nav > li{
    height: 4rem;
    margin-top: 2rem;
}

.drop{
    position: absolute;
    top: 0;
    width: max-content;
    transition: all .2s ease-in-out;
    visibility:hidden;
    opacity: 0;
    background: white;
    border: 1px solid #6DB45E;
}

.trigger:hover .drop {
    top: 4rem;
    display: block;
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out;
}

.header_conotact{
    background: #59944C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.header_conotact p{
    color: white;
}

/* メイン */

#kv{
    border: 1rem solid #59944C;
    width: 90%;
    margin: auto;
    border-radius: 5rem;
    margin-bottom: 5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

#kv .kv01{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10rem 0;
}

#kv .kv01 img{
    width: 80%;
}

#kv .kv01 h2{
    font-weight: 800;
    border-bottom: 1px solid black;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    margin-bottom: 5rem;
}

#kv .kv01 h2 span{
    color: #59944C;
}

#kv .kv01 h1{
    margin-bottom: 5rem;
}

#kv .kv01 a{
    background: linear-gradient( #6DB45E 0%, #59944C 50%, #6DB45E 100%);
    color: white;
    padding: 2rem 5rem;
    border-radius: 5rem;
    margin-top: 5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

#top_cv{
    display: flex;
    align-items: stretch;
    margin-bottom: 30rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

.cv_left, .cv_right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 2rem 0;
}

#top_cv .cv_left{
    background: #FFFBC7;
}

#top_cv .cv_left a{
    background: white;
    padding: 1rem 4rem;
    border-radius: 5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

#top_cv .cv_left p{
    color: #59944C;
    font-weight: 800;
}

#top_cv .cv_right{
    background: #59944C;
}

#top_cv .cv_right p{
    font-weight: 800;
    color: white;
}

#top_cv .cv_right a{
    background: white;
    padding: 1rem 15rem;
    border-radius: 5rem;
    position: relative;
}

#top_cv .cv_right .dash{
    position: absolute;
    left: 3rem;
    bottom: -50%;
    transition: all .5s ease-in-out;
}

#top_cv .cv_right a:after{
    position: absolute;
    content: "→";
    right: 5rem;
    transition: all .3s ease-in-out;
}

#top_cv .cv_right a:hover .dash{
    left: 8rem;
    transition: all .3s ease-in-out;
}

#top_cv .cv_right a:hover:after{
    right: 8rem;
    transition: all .3s ease-in-out;
}

/* アバウト */

#about h2{
    font-weight: 800;
    text-align: center;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

#about h2 span{
    color: #59944C;
}

