@charset "UTF-8";
html{
    scroll-behavior: smooth;
    font-size: 0.5208vw;
}

body{
    margin: 0;
}

main{
    overflow: hidden;
}

h1{
    font-size: 6rem;
    font-weight: 300;
    margin: 0;
}

h2{
    font-size: 5rem;
    font-weight: 300;
    margin: 0;
}

h3{
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
}

a{
    text-decoration: none;
    color: #59944C;
    font-size: 2rem;
}

p{
    font-size: 2rem;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

/* ヘッダー */

header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

header .header_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header_logo img{
    height: 7rem;
    margin-left: 5rem;
}

header a{
    color: black;
}

.header_right{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 40%;
}

.header_nav{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 80%;
}

.header_nav > .trigger {
    position: relative;
}

.header_nav > li{
    height: 4rem;
    margin-top: 2rem;
}

.drop{
    position: absolute;
    top: 0;
    width: max-content;
    transition: all .2s ease-in-out;
    visibility:hidden;
    opacity: 0;
    background: white;
    border: 1px solid #6DB45E;
}

.trigger:hover .drop {
    top: 4rem;
    display: block;
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out;
}

.header_conotact{
    background: #59944C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.header_conotact p{
    color: white;
}

#top_cv{
    display: flex;
    align-items: stretch;
    margin-bottom: 15rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

.cv_left, .cv_right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 2rem 0;
}

#top_cv .cv_left{
    background: #FFFBC7;
}

#top_cv .cv_left a{
    background: white;
    padding: 1rem 4rem;
    border-radius: 5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

#top_cv .cv_left a:hover{
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 16%);
}

#top_cv .cv_left p{
    color: #59944C;
    font-weight: 800;
}

#top_cv .cv_right{
    background: #59944C;
}

#top_cv .cv_right p{
    font-weight: 800;
    color: white;
}

#top_cv .cv_right a{
    background: white;
    padding: 1rem 15rem;
    border-radius: 5rem;
    position: relative;
}

#top_cv .cv_right .dash{
    position: absolute;
    left: 3rem;
    bottom: -50%;
    transition: all .5s ease-in-out;
}

#top_cv .cv_right a:after{
    position: absolute;
    content: "→";
    right: 5rem;
    transition: all .3s ease-in-out;
}

#top_cv .cv_right a:hover .dash{
    left: 8rem;
    transition: all .3s ease-in-out;
}

#top_cv .cv_right a:hover:after{
    right: 8rem;
    transition: all .3s ease-in-out;
}

#news{
    margin-bottom: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#news .news_wrap{
    width: 80rem;
    position: relative;
    max-width: 1000px;
}

.news_title{
    position: absolute;
    height: 5rem;
    top: 0;
    left: -18rem;
}

#news .news_wrap .news_content{
    border-bottom: 1px solid #232323;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
}

footer{
    background: #F9F9F9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem 10rem;
}

footer .footer_content{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer_content p{
    font-size: 1.5rem;
}

footer .footer_content .line{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .footer_content .line img{
    height: 5rem;
    border: 1px solid black;
}

footer .footer_content .address{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

footer .footer_content .address a{
    font-weight: 100;
    font-size: 2rem;
    color: black;
    transition: all .2s ease-in-out;
}

footer .footer_content .address a:hover{
    opacity: .5;
    transition: all .2s ease-in-out;
}

.address_icon{
    height: 1.5rem;
    margin-right: .5rem;
}

footer .footer_content .foot_icon{
    height: 7rem;
}