@charset "UTF-8";
html{
    scroll-behavior: smooth;
    font-size: 0.5208vw;
}

.pc_only{
    display: block;
}

.pc_flex{
    display: flex;
}

.sp_only{
    display: none;
}

.sp_flex{
    display: none;
}

body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Yu Gothic", YuGothic, sans-serif;
}

main{
    overflow: hidden;
    margin-top: 10rem;
}

h1{
    font-size: 6rem;
    font-weight: 300;
    margin: 0;
}

h2{
    font-size: 5rem;
    font-weight: 300;
    margin: 0;
}

h3{
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

h4{
    font-weight: 300;
    margin: 0;
}

a{
    text-decoration: none;
    color: #59944C;
    font-size: 2rem;
    font-weight: 600;
}

p{
    font-size: 2rem;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

/* ヘッダー */

header{
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    height: 10rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

header .header_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header_logo img{
    height: 7rem;
    margin-left: 5rem;
}

header a{
    color: black;
}

.header_right{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    width: 46%;
}

.header_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.header_nav.pc_only > li > a{
    padding: 2rem;
    width: 100%;
    border-radius: 5rem;
    transition: all .3s ease-in-out;
}

.header_nav.pc_only > li > a:hover{
    background: #59944C;
    color: white;
    transition: all .3s ease-in-out;
}

.header_nav a{
    font-size: 2.1rem;
}

.header_nav > .trigger {
    position: relative;
}

.header_nav > li{
    height: 4rem;
    margin-top: 2rem;
    width: 30%;
    text-align: center;
}

.drop{
    width: max-content;
    background: white;
    border: 1px solid #6DB45E;
    padding: 0 1rem;
    transition: .5s ease-in-out;
    margin-top: 1rem;
    opacity: 0;
    position: relative;
    z-index: 100;
    height: 0;
}

.drop li{
    height: 0;
    padding: .5rem 0;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.drop li:hover{
    background: #59944C;
    transition: .5s ease-in-out;
}

.drop li:hover a{
    color: white;
}

.trigger:hover > ul > li {
    height: 3rem;
    overflow: visible;
}

.trigger:hover .drop{
    opacity: 1;
    height: min-content;
    padding: 1rem;
}

.drop:hover{
    opacity: 1;
}

.drop:hover li{
    height: 3rem;
    overflow: visible;
}

.header_conotact{
    background: #59944C;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.header_conotact:hover{
    box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 30%);
}

.header_conotact p{
    color: white;
}

#top_cv{
    display: flex;
    align-items: stretch;
    margin-bottom: 15rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

.cv_left, .cv_right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 2rem 0;
}

#top_cv .cv_left{
    background: #FFFBC7;
}

#top_cv .cv_left a{
    background: white;
    padding: 1rem 4rem;
    border-radius: 5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

#top_cv .cv_left a:hover{
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 16%);
}

#top_cv .cv_left p{
    color: #59944C;
    font-weight: 800;
}

#top_cv .cv_right{
    background: #59944C;
}

#top_cv .cv_right p{
    font-weight: 800;
    color: white;
}

#top_cv .cv_right a{
    background: white;
    padding: 1rem 15rem;
    border-radius: 5rem;
    position: relative;
}

#top_cv .cv_right .dash{
    position: absolute;
    left: 3rem;
    bottom: -50%;
    width: 8rem;
    transition: all .5s ease-in-out;
}

#top_cv .cv_right a:after{
    position: absolute;
    content: "→";
    right: 5rem;
    transition: all .3s ease-in-out;
}

#top_cv .cv_right a:hover .dash{
    left: 8rem;
    transition: all .3s ease-in-out;
}

#top_cv .cv_right a:hover:after{
    right: 8rem;
    transition: all .3s ease-in-out;
}

#news{
    margin-bottom: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#news .news_wrap{
    width: 80rem;
    position: relative;
    max-width: 1000px;
}

.news_title{
    position: absolute;
    height: 5rem;
    top: 0;
    left: -18rem;
}

#news .news_wrap .news_content{
    border-bottom: 1px solid #232323;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5rem;
}

#news .news_wrap .news_content .date{
    width: 23%;
    padding-left: 5rem;
}

footer{
    background: #F9F9F9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem 10rem;
}

footer .footer_content{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer_content p{
    font-size: 1.5rem;
}

footer .footer_content .line{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .footer_content .line img{
    height: 5rem;
    border: 1px solid black;
    transition: all .3s ease-in-out;
}

footer .footer_content .line img:hover{
    opacity: .3;
    transition: all .3s ease-in-out;
}

footer .footer_content .address{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

footer .footer_content .address a{
    font-weight: 400;
    font-size: 2rem;
    color: black;
    transition: all .2s ease-in-out;
}

footer .footer_content .address a:hover{
    opacity: .5;
    transition: all .2s ease-in-out;
}

.address_icon{
    height: 1.5rem;
    margin-right: .5rem;
}

footer .footer_content .foot_icon{
    height: 7rem;
}

@media screen and (max-width:767px) {
    html{
        font-size: 1.7208vw;
    }

    h2{
        font-size: 6rem;
    }
    
    a{
        font-size: 2.3rem;
    }
    
    p{
        font-size: 2.3rem;
    }

    .pc_only{
        display: none !important;
    }
    
    .sp_only{
        display: block !important;
    }

    .pc_flex{
        display: none !important;
    }

    .sp_flex{
        display: flex !important;
    }

    .header_right{
        width: auto;
    }

    header nav ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    header .header_logo img{
        margin-left: 3rem;
    }

    header nav ul li a{
        font-size: 3rem;
    }

    #nav{
        padding: 10rem 0 0 0;
        position: fixed;
        height: 100vh;
        width: 100%;
        right: -100%;
        top: 0;
        background: white;
        transition: all .7s ease-in-out;
        z-index: 10;
        opacity: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: scroll;
    }

    /* #nav ul{
        height: 100%;
    } */
    
    #nav ul li{
        color: white;
        margin-bottom: 5rem;
    }

    .hamb_arrow{
        position: relative;
        background: white;
        padding: 1rem 10rem;
        border-radius: 5rem;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
        font-size: 3rem;
        color: #59944C;
        margin: 1rem 0 5rem;
    }

    #nav h4{
        font-size: 2rem;
        font-weight: bold;
    }

    .hamb_arrow .dash{
        position: absolute;
        left: 3rem;
        bottom: -25%;
        width: 8rem;
        transition: all .5s ease-in-out;
    }

    .hamb_arrow::before{
        position: absolute;
        content: "→";
        color: #59944C;
        right: 3rem;
    }

    #nav ul .border{
        border-left: 1.5rem solid #59944C;
        padding-left: 1rem;
        font-weight: 800;
    }

    #nav > ul > li > ul{
        padding-left: 7rem;
    }

    #nav > ul > li > ul > li{
        margin: 3rem 0;
        position: relative;
    }

    .hamb_contact{
        background: #59944C;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
    }

    .hamb_contact img{
        width: 6rem;
    }

    .hamb_contact p{
        font-size: 3rem;
        margin-left: 3rem;
    }

    #nav > ul > li > ul > li > a{
        font-size: 2rem;
    }

    #nav > ul > li > ul > li::before{
        position: absolute;
        content: "";
        height: 1px;
        width: 4rem;
        background: #707070;
        top: 50%;
        left: -6rem;
    }

    #nav ul li p{
        font-size: 3rem;
        color: black;
    }

    .hidden{
        overflow: hidden;
    }

    #hamburger {
        /* position: fixed;
        top: 7rem;
        right: 20rem; */
        width: 12.5rem;
        height: 10rem;
        transition: all 1s ease-out;
        background: #59944C;
        position: relative;

    }

    .inner_line {
        display: block;
        position: absolute;
        left: 4rem;
        width: 4.5rem;
        height: 3px;
        background-color: white;
        transition: all 1s ease-out;
        border-radius: 4px;
    }

    #line1 {
        top: 30%;
    }

    #line2 {
        top: 48%;
    }

    #line3 {
        bottom: 30%;
    }

    .in{
        transform: translateX(-100%);
        opacity: 1 !important;
    }

    .line_1,.line_2,.line_3{
        background: black;
        z-index: 100;
    }

    .line_1 {
        transform: translateY(1.8rem) rotate(-45deg);
        top: 0;
    }

    .line_2 {
        opacity: 0;
    }
    
    .line_3 {
        transform: translateY(-1.8rem) rotate(45deg);
        bottom: 0;
    }


    #top_cv{
        display: block;
    }

    .cv_left, .cv_right{
        width: 100%;
    }

    #top_cv .cv_right a{
        padding: 1rem 8rem;
    }

    #top_cv .cv_right .dash{
        left: 0rem;
    }
    
    #top_cv .cv_right a:after{
        right: 2rem;
    }
    
    #top_cv .cv_right a:hover .dash{
        left: 2rem;
    }
    
    #top_cv .cv_right a:hover:after{
        right: 3rem;
    }

    .news_title{
        position: unset;
        margin-bottom: 5rem;
    }

    #news .news_wrap{
        display: flex;
        flex-direction: column;
    }

    #news .news_wrap .news_content{
        width: 90%;
        margin: auto;
        margin-bottom: 5rem;
    }

    #news .news_wrap .news_content .date{
        padding-left: 0;
        padding-right: 2rem;
    }

    footer{
        display: block;
        padding: 5rem 3rem;
    }

    footer .footer_content{
        flex-direction: column;
        width: 100%;
    }

    footer .footer_content .address{
        align-items: center;
    }

    footer .footer_content p{
        text-align: center;
        font-size: 2.5rem;
    }

    footer .footer_content .foot_icon{
        margin: 4rem 0;
    }

    footer .footer_content .line{
        margin-bottom: 4rem;
    }

    footer .footer_content .line img{
        height: 13rem;
    }

    footer .footer_content .address a{
        font-size: 2.5rem;
    }

    .address_icon{
        height: 2rem;
    }
}