@charset "UTF-8";

#kv_contact{
    background: url("../img/contact_kv.jpg") center center/cover no-repeat;
    padding: 3rem 0;
    margin-bottom: 15rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

#kv_contact h2{
    text-align: center;
    text-shadow:  0 3px 6px rgba(0, 0, 0, 16%);
    position: relative;
    font-weight: 600;
}

#kv_contact h2::before{
    position: absolute;
    content: "";
    height: .5rem;
    width: 30rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    background: #59944C;
}

#tell{
    width: 40%;
    max-width: 1440px;
    margin: auto;
    margin-bottom: 10rem;
}

#tell h3{
    margin-bottom: 5rem;
    position: relative;
}

#tell h3::before{
    position: absolute;
    content: "";
    width: 4rem;
    height: 4rem;
    background: #59944C;
    left: -4rem;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#tell .wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#tell .wrap a{
    font-size: 4.5rem;
    color: black;
}

#tell .wrap a:hover{
    color: #59944C;
}

#tell .wrap a img{
    height: 4.5rem;
}

#form{
    width: 40%;
    max-width: 1440px;
    margin: auto;
    margin-bottom: 15rem;
}

#form h3{
    margin-bottom: 5rem;
    position: relative;
}

#form h3::before{
    position: absolute;
    content: "";
    width: 4rem;
    height: 4rem;
    background: #59944C;
    left: -4rem;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

label{
    font-size: 2rem;
}

label span{
    font-size: 1.5rem;
    background-color: #78909C;
    color: white;
    padding:.5rem 1rem;
    border-radius: .5rem;
}

.red{
    background: #D9534F;
}

input, textarea{
    width: calc(100% - 2rem);
    padding: 1rem;
    margin: 1rem 0 2.5rem;
}

textarea{
    height: 10rem;
}

button{
    font-size: 2rem;
    width: 100%;
    padding: 2.5rem 0;
    border: none;
    color: white;
    border-radius: 1rem;
    background: #59944C;
    cursor: pointer;
}

fieldset{
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

fieldset > span{
    font-size: 2rem;
    margin-bottom: 1.8rem;
    display: inline-block;
}

fieldset > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

fieldset span span{
    font-size: 1.5rem;
    background-color: #78909C;
    color: white;
    padding:.5rem 1rem;
    border-radius: .5rem;
}

fieldset label{
    padding: 2rem 0 2rem 1.8rem;
    font-size: 2rem;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: .1rem solid #707070;
}

fieldset input{
    width: unset;
    margin: 0;
    margin-right: .5rem;
}

@media screen and (max-width:767px){
    #kv_contact{
        background: url("../img/contact_kv.jpg") center/cover no-repeat;
    }

    #tell, #form{
        width: 70%;
    }

    #tell .wrap{
        display: block;
    }

    fieldset{
        margin-top: 3rem;
        margin-bottom: 3rem
    }
}