@charset "UTF-8";
/* メイン */

#kv{
    border: 1rem solid #59944C;
    width: 90%;
    margin: auto;
    border-radius: 5rem;
    margin-bottom: 5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

#kv .kv01,
#kv .kv02,
#kv .kv03{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10rem 0;
    height: 27.7vw;
}

#kv .kv02{
    background: url("../img/kv02_bg_pc.png") center center no-repeat;
    background-size: 85% auto;
}

#kv .kv02 img{
    height: 8rem;
}

#kv .kv03{
    background: url("../img/kv03_bg.png") center center/cover no-repeat;
    border-radius: 5rem;
}

#kv .kv01 img{
    width: 80%;
}

#kv .kv01 h2,
#kv .kv02 h2{
    font-weight: 800;
    border-bottom: 1px solid black;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    margin-bottom: 5rem;
}

#kv .kv01 h2 span,
#kv .kv02 h2 span{
    color: #59944C;
}

#kv .kv01 h1{
    margin-bottom: 5rem;
    font-weight: 800;
}

#kv .kv02 p{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #707070;
    font-weight: bold;
    margin-top: 15rem;
}

#kv .kv02 h3{
    margin-bottom: 10rem;
}

#kv .kv03 h3{
    color: #707070;
    font-weight: bold;
    margin: 5rem 0;
}

#kv .kv03 img{
    height: 50rem;
}

#kv .kv03 p{
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    color: #707070;
    font-weight: bold;
}

#kv .kv03 p span{
    color: #59944C;
}

#kv .kv01 a,
#kv .kv02 a{
    background: linear-gradient( #6DB45E 0%, #59944C 50%, #6DB45E 100%);
    color: white;
    padding: 2rem 5rem;
    border-radius: 5rem;
    margin-top: 5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

#kv .kv01 a:hover,
#kv .kv02 a:hover{
    box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 16%),
                inset 4px 4px 4px rgba(0, 0, 0, 16%);
    background: linear-gradient( #59944C 0%, #6DB45E 50%, #59944C 100%);
}



/* アバウト */

#about{
    margin-bottom: 30rem;
    position: relative;
}

#about:before{
    position: absolute;
    content: "";
    width: 150%;
    height: 20rem;
    background: #ECECEC;
    z-index: -1;
    transform: rotateZ(-12deg);
    top: 50%;
    left: -25%;
}

#about .about_title{
    font-weight: 800;
    text-align: center;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    margin-bottom: 5rem;
}

#about h2 span{
    color: #59944C;
}

#about .about_wrap{
    width: 60%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    border-radius: 30rem;
    overflow: hidden;
    margin: auto;
    max-width: 1440px;
}

#about .about_wrap h2{
    background-color: #59944C;
    text-align: center;
    color: white;
    font-weight: 800;
    padding: 3rem 0 2rem;
    letter-spacing: .5rem;
}

#about .about_wrap div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
    background: white;
}

#about .about_wrap p{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
    line-height: 200%;
}

#about .about_wrap a{
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    padding: 2rem 5rem;
    border-radius: 4rem;
}

#about .about_wrap a:hover{
    box-shadow: inset -3px -3px 6px #d9d9d9;
}


/* SERVICE ALL */

#service{
    margin-bottom: 30rem;
}

#service h2{
    text-align: center;
    font-weight: 800;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    margin-bottom: 5rem;
}

#service h2 span{
    color: #59944C;
}

#service .service_wrap{
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 1800px;
    margin: auto;
    
}

#service .service_wrap a{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
    transition: all .2s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

#service .service_wrap a:hover{
    opacity: .5;
    transition: all .2s ease-in-out;
}

#service .service_wrap a img{
    width: 18rem;
}

#service .service_wrap a p{
    background: white;
    color: #232323;
    padding: 1rem 5rem;
    border-radius: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

.yellow{
    background: #FFFBC7;
}

.green{
    background: #59944C;
}

/* main_cv */
#main_cv{
    background: #ECECEC;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15rem;
}

#main_cv a{
    background: white;
    margin-top: 5rem;
    padding: 2rem 15rem;
    border-radius: 5rem;
    position: relative;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

#main_cv a .discuss{
    position: absolute;
    width: 15rem;
    left: -4rem;
    bottom: -34%;
    transition: all .5s ease-in-out;
}

#main_cv a:after{
    position: absolute;
    content: "→";
    right: 8rem;
    transition: all .3s ease-in-out;
}

#main_cv a:hover .discuss{
    bottom: -20%;
    transition: all .3s ease-in-out;
}

#main_cv a:hover:after{
    right: 5rem;
    transition: all .3s ease-in-out;
}


/* customer */

#customer{
    margin-bottom: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#customer .customer_logo{
    height: 7.5rem;
    margin-bottom: 5rem;
}

#customer h3{
    margin-bottom: 5rem;
}

#customer .customer_wrap{
    max-width: 1800px;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
}

#customer .customer_wrap img{
    width: 45rem;
}

#customer a{
    background: white;
    padding: 2rem 15rem;
    border-radius: 5rem;
    position: relative;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

#customer a .dash{
    position: absolute;
    left: 3rem;
    bottom: -5%;
    transition: all .5s ease-in-out;
}

#customer a:after{
    position: absolute;
    content: "→";
    right: 5rem;
    transition: all .3s ease-in-out;
}

#customer a:hover .dash{
    left: 8rem;
    transition: all .3s ease-in-out;
}

#customer a:hover:after{
    right: 8rem;
    transition: all .3s ease-in-out;
}

#top_contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
    background: url("../img/top_contact.jpg");
    margin-bottom: 15rem;
}

#top_contact a{
    background: white;
    color: #232323;
    padding: 3rem 15rem;
    border-radius: 5rem;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    transition: all .3s ease-in-out;
}
#top_contact a:hover{
    background: #c5c5c5;
    transition: all .3s ease-in-out;
}

#top_contact a:after{
    position: absolute;
    content: "→";
    right: 6rem;
    transition: all .3s ease-in-out;
}

#top_contact a:hover:after{
    right: 4rem;
    transition: all .3s ease-in-out;
}

@media screen and (max-width:767px) {
    #kv{
        margin: 0;
        width: calc(100% - 2rem);
    }

    #kv .kv01,
    #kv .kv02,
    #kv .kv03{
        height: 50vh;
    }

    #kv .kv02{
        background: url("../img/kv02_bg_sp.png") center center no-repeat;
        background-size: auto 80%;
    }

    #kv .kv03 img{
        width: 90%;
        height: auto;
    }

    /* #kv .kv01{
        padding: 14.5rem 0;
    } */

    #kv .kv01 h1{
        text-align: center;
        font-weight: 800;
    }

    #about .about_wrap{
        width: 100%;
        border-radius: 10rem;
    }

    #about .about_wrap h2{
        font-size: 3.5rem;
    }

    #about:before{
        height: 14rem;
        top: unset;
        bottom: -6rem;
    }

    #service .service_wrap{
        display: block;
        width: 90%;
    }

    #service .service_wrap a{
        width: 100%;
        padding: 10rem 0;
    }

    #main_cv a{
        padding: 1rem 15rem 1rem 15rem;
    }
    
    #customer .customer_wrap{
        width: auto;
    }

    #customer .customer_wrap img{
        width: 100%;
    }

    .news_title{
        position: unset;
        margin-bottom: 5rem;
    }

    #news .news_wrap{
        display: flex;
        flex-direction: column;
    }

    #news .news_wrap .news_content{
        width: 90%;
        margin: auto;
        margin-bottom: 5rem;
    }

    #about, #service{
        margin-bottom: 15rem;
    }
}